body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:551px;
}
#u1469 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:550px;
}
#u1470 {
  position:absolute;
  left:2px;
  top:267px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:49px;
}
#u1471 {
  position:absolute;
  left:50px;
  top:50px;
  width:320px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1472 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:11px;
}
#u1473 {
  position:absolute;
  left:55px;
  top:54px;
  width:309px;
  height:11px;
}
#u1474 {
  position:absolute;
  left:2px;
  top:-2px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1475 {
  position:absolute;
  left:182px;
  top:76px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1476 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u1477 {
  position:absolute;
  left:55px;
  top:71px;
  width:29px;
  height:25px;
}
#u1478 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:49px;
}
#u1479 {
  position:absolute;
  left:64px;
  top:110px;
  width:292px;
  height:48px;
}
#u1480 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u1481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:49px;
}
#u1481 {
  position:absolute;
  left:64px;
  top:168px;
  width:292px;
  height:48px;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u1483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:49px;
}
#u1483 {
  position:absolute;
  left:64px;
  top:223px;
  width:292px;
  height:48px;
}
#u1484 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
